.App {
  text-align: center;
}

.main {
  max-width: 1620px;
  margin: 27px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main__center {
  width: 876px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 17px;
}

.main__left,
.main__right {
  width: 352px;
}
